html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
  background-color: hsl(240, 1%, 86%);
}

body {
  display: table-cell;
}


h1 {
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 24px; 
    font-weight: 700; 
    line-height: 64px; 
    margin: 0 0 0; 
    padding: 20px 30px; 
    text-align: center; 
    text-transform: uppercase; 
    grid-column: 1 / 4;
    grid-row: 1 / span 1;
    align-self: start;
  }

#container {
    display: grid;
    height: 480px;
    width: 480px;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: white;
}

#header {
    display: grid;
    width: 600px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 60px);
}

#btn-reset {
  grid-column: 1 / 2;
  grid-row: 2 / span 2;
  align-self: start;
}

#btn-gridsize{
  grid-column: 1 / 2;
  grid-row: 3 / span 2;
  justify-self: start;
}

#colorswitch {
    border-radius: 2px;
    width: 100px;
    margin: 30px auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    background-color: #f7f7f7;
    display: block;
    padding: 12px 24px;
    text-align:center;
    grid-column: 3 / 4;
    grid-row: 2 / 2;
    align-self: start;
}

#switchwrapper {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100px;
  padding-top: 15px;
}

div span {
  color: #161616; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  }
  

.item{
    border: 1px solid black;
    background-color: white;
}

.itemblack{
    background-color: black;
}


.btn {
    position: relative;
    width: 130px;
    display: block;
    margin: 30px auto;
    padding: 0;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #f7f7f7;
    color: #161616;
    
    transition: background-color .3s;
  }
  
  .btn:hover, .btn:focus {
    background-color: #efefef;
  }

  .btn > * {
    position: relative;
  }
  
  .btn span {
    display: block;
    padding: 12px 24px;
  }
  
  .btn:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
  


/* ON OFF Switch (adapted from https://proto.io/freebies/onoff/) */ 


.onoffswitch {
    position: relative; 
    width: 65px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 2px solid #E3E3E3; border-radius: 20px;
    background-color: #E6E6E6;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 20px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 43px;
    border: 2px solid #E3E3E3; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #00A2FF;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #00A2FF;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}